body {
    justify-content: center;
    background-color: #ee00ee;
    font-family:'Raleway';
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    padding: 20%;
    }