body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
    background-size: cover;
}


h1{
    color: white;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 300%;
    text-shadow: 3px  0px 0px rgba(255, 77, 6, 0.904),
    0px  3px 0px rgba(255, 77, 6, 0.904),
   -3px  0px 0px rgba(255, 77, 6, 0.904),
    0px -3px 0px rgba(255, 77, 6, 0.904);
    height: 75px;
    animation: move 5s ;
    animation-direction: reverse;
}
  
header{
    background:black
}

.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    text-align: center;
}

.box h1{
    color: black ;
   
    font-weight: 700;

}

.box input[type="text"], input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid white;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color:white;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus, input[type="password"]:focus {
    width: 270px;
    border-color: #ffc400ec;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #ffc400ec;
    padding: 14px 35px;
    outline: none;
    color:white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
    font-size: 20px;
     text-shadow: 
     1px  0px 0px black,
     0px  1px 0px black,
    -1px  0px 0px black,
     0px -1px 0px black;
     box-shadow: 0 4px 8px 0 rgba(255, 77, 6, 0.904),0 6px 20px 0 rgba(255, 77, 6, 0.904);
}

.box input[type="submit"]:hover {
    background: #ffc400ec;
}